*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 5.2rem;
}

a{
    text-decoration: none;
}

.custom-navbar {
  background: #fff;
  padding: 10px 0;
}

.menu-icon {
  font-size: 24px;
  color: #00bcd4;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  color: #00bcd4;
}

.nav-link {
  font-weight: 600;
  color: #0b132b !important;
}

.nav-link.active,
.nav-link:hover {
  color: #00bcd4 !important;
}

/* Button */
.join-btn {
  background-color: #00bcd4;
  color: #fff;
  padding: 10px 22px;
  border-radius: 4px;
  font-weight: 600;
}

.join-btn:hover {
  background-color: #0097aa;
  color: #fff;
}

/* Mobile */
@media (max-width: 991px) {
  .join-btn {
    width: 100%;
    margin-top: 10px;
  }
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item:hover{
color: orangered;
}

.bg-btn-custom{
    background-color: rgba(4, 209, 107, 0.596);
    color: orangered;
}

.bg-custom-footer{
    background-color: rgb(1, 1, 32);
}

.hero-img{
    height: 20rem;
    width: 100%;
    background-image:
      linear-gradient(rgba(56, 53, 53, 0.6), rgba(59, 47, 47, 0.6)),
      url('../img/about-hero.jpg');
    background-size: cover;
    background-position: center;
}



.bannerlink{
color: White;
}

.bannerlink:hover{
    text-decoration: underline;
}

.bannerhead{
color: White;
font-family: cursive;
}

.footer{
    color: whitesmoke;
}

.footer:hover{
    color: rgb(207, 193, 166);
    text-decoration: line-through;
}

.footer-icon{
    height: 1.7rem;
    width: 1.7rem;
    background-color: white;
    color: black;
    border-radius: 50%;
}

.footer-icon:hover{
    transform: translateY(-3px);
    box-shadow: 0px 2px 3px orangered;
}

.cardmain{
  transition: all;
  transition-duration: 1s;
  transition-timing-function: ease-out;
  color: #00a5bb;
  background-color: white;
}



.cardmain:hover{
  color: white;
  transform: translateY(-7px);
  background-color: #00a5bb;
}
.tittle{
  color: white;
}

.tittle:hover{
  color: white;
}

.about-sec{
  height: 30rem;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.aboutsec-head{
  color: #00a5bb;
  font-family: Arial;
}

.aboutsec-subhead{
  color: black;
  font-size: 1.7rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
}

.instructor-head{
  color: #00a5bb;
  font-family: monospace;
}


.instructo-subhead{
  color: black;
  font-size: 1.7rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
}

/* .instructor-img{
  transition: all;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.instructor-img:hover{
  transform: scale(1.1);
} */

.card-instructor{
  background-color: #f8fbff;
  color: rgb(3, 100, 104);
}

.icon-container{
  margin-top: -1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-main{
  height: 3rem;
  width: 3rem;
  background-color: #00a5bb;
  color: white;
  /* border-radius: 50%; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  transition: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.icon-main:hover{
  background-color: rgb(4, 132, 134);
  color: white;
  transform: translateY(-5px);
}

/* animation */

.animate {
  opacity: 0;
  transition: all 1s ease-out;
}

.animate.show {
  opacity: 1;
  transform: translate(0, 0);
}

/* directions */
.from-top { transform: translateY(-60px); }
.from-left { transform: translateX(-60px); }
.from-right { transform: translateX(60px); }