*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 5.2rem;
}

a{
    text-decoration: none;
}

.custom-navbar {
  background: #fff;
  padding: 10px 0;
}

.menu-icon {
  font-size: 24px;
  color: #00bcd4;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  color: #00bcd4;
}

.nav-link {
  font-weight: 600;
  color: #0b132b !important;
}

.nav-link.active,
.nav-link:hover {
  color: #00bcd4 !important;
}

/* Button */
.join-btn {
  background-color: #00bcd4;
  color: #fff;
  padding: 10px 22px;
  border-radius: 4px;
  font-weight: 600;
}

.join-btn:hover {
  background-color: #0097aa;
  color: #fff;
}

/* Mobile */
@media (max-width: 991px) {
  .join-btn {
    width: 100%;
    margin-top: 10px;
  }
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item:hover{
color: orangered;
}

.bg-btn-custom{
    background-color: rgba(4, 209, 107, 0.596);
    color: orangered;
}

.bg-custom-footer{
    background-color: rgb(2, 2, 54);
}

.footer{
    color: whitesmoke;
}

.footer:hover{
    color: rgb(207, 193, 166);
    text-decoration: line-through;
}

.footer-icon{
    height: 1.7rem;
    width: 1.7rem;
    background-color: white;
    color: black;
    border-radius: 50%;
}

.footer-icon:hover{
    transform: translateY(-3px);
    box-shadow: 0px 2px 3px orangered;
}